@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  font-size: 16px;
  margin: 0;
  color: #fff;
  font-family: "Poppins";
  background-color: rgb(0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background-color: rgb(255, 255, 255);
  }
}
body div#background {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body div#root {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(44, 44, 44, 0.25);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
body div#root a[href] {
  color: #fff;
  transition: 0.1s ease-out;
}
@media (prefers-color-scheme: light) {
  body div#root a[href] {
    color: #000;
  }
}
body div#root a[href]:hover {
  opacity: 0.7;
  transition: 0.1s ease-out;
}
@media (prefers-color-scheme: light) {
  body div#root {
    background-color: rgba(255, 255, 255, 0.25);
  }
}
body div#root input {
  font-size: 14px;
  width: 344px;
  text-align: center;
  font-family: "Consolas";
  display: inline-block;
  color: white;
  background-color: rgb(44, 44, 44);
  border: 2px grey solid;
  border-radius: 4px;
  outline: none;
}
body div#root button {
  margin-top: 12px;
  cursor: pointer;
  font-size: 20px;
  width: 160px;
  text-align: center;
  font-family: "Consolas";
  display: inline-block;
  color: white;
  background-color: rgb(44, 44, 44);
  border: 2px grey solid;
  border-radius: 4px;
  outline: none;
}
body div#root button:hover {
  color: lightgray;
}
body div#root button:active {
  color: grey;
  background-color: rgb(33, 33, 33);
}
body div#root div#setContainer {
  padding-top: 72px;
  text-align: center;
  overflow: hidden;
}
body div#root div#setContainer div#setInfo {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
body div#root div#setContainer div#setInfo p {
  text-align: left;
  margin-bottom: 6px;
}
body div#root div#cornerButtonContainer {
  height: 36px;
  position: absolute;
  overflow: hidden;
}
body div#root div#cornerButtonContainer.bottomCorner {
  bottom: 0;
}
body div#root div#cornerButtonContainer a#cornerButton {
  position: relative;
  margin: 8px;
  width: 20px;
  opacity: 0.3;
  transition: 0.4s;
  cursor: pointer;
}
body div#root div#cornerButtonContainer a#cornerButton.settings {
  content: url("../space.svg");
  -webkit-mask-image: url("../gear.svg");
          mask-image: url("../gear.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
@media (prefers-color-scheme: light) {
  body div#root div#cornerButtonContainer a#cornerButton.settings {
    color: #000;
  }
}
body div#root div#cornerButtonContainer a#cornerButton.config {
  content: url("../space.svg");
  -webkit-mask-image: url("../config.svg");
          mask-image: url("../config.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
@media (prefers-color-scheme: light) {
  body div#root div#cornerButtonContainer a#cornerButton.config {
    color: #000;
  }
}
body div#root div#cornerButtonContainer a#cornerButton.home {
  position: absolute;
  right: 0;
  float: right;
  content: url("../space.svg");
  -webkit-mask-image: url("../home.svg");
          mask-image: url("../home.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
@media (prefers-color-scheme: light) {
  body div#root div#cornerButtonContainer a#cornerButton.home {
    color: #000;
  }
}
body div#root div#cornerButtonContainer a#cornerButton.gh {
  content: url("../space.svg");
  -webkit-mask-image: url("../github.svg");
          mask-image: url("../github.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
@media (prefers-color-scheme: light) {
  body div#root div#cornerButtonContainer a#cornerButton.gh {
    color: #000;
  }
}
body div#root div#cornerButtonContainer a#cornerButton.ko-fi {
  content: url("../space.svg");
  -webkit-mask-image: url("../kofi.svg");
          mask-image: url("../kofi.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
@media (prefers-color-scheme: light) {
  body div#root div#cornerButtonContainer a#cornerButton.ko-fi {
    color: #000;
  }
}
body div#root div#cornerButtonContainer a#cornerButton.ko-fi:hover {
  color: #ff5e5b;
}
body div#root div#cornerButtonContainer a#cornerButton.reload {
  content: url("../space.svg");
  -webkit-mask-image: url("../reload.svg");
          mask-image: url("../reload.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
@media (prefers-color-scheme: light) {
  body div#root div#cornerButtonContainer a#cornerButton.reload {
    color: #000;
  }
}
body div#root div#cornerButtonContainer a#cornerButton.key {
  content: url("../space.svg");
  -webkit-mask-image: url("../key.svg");
          mask-image: url("../key.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
@media (prefers-color-scheme: light) {
  body div#root div#cornerButtonContainer a#cornerButton.key {
    color: #000;
  }
}
body div#root div#cornerButtonContainer a#cornerButton:hover {
  transition: 0.2s;
  opacity: 0.7;
}
body div#root div#settingsPanelContainer {
  height: 100vh;
  width: 36vw;
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: transparent !important;
}
body div#root div#settingsPanelContainer iframe#settingsPanel {
  margin: 0;
  border: none;
  left: 0;
  float: left;
  height: 100vh;
  width: 36vw;
  position: absolute;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
body div#root a#imgCreator {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
  opacity: 0.3;
  text-decoration: none;
}
body div#root a#imgCreator:hover {
  opacity: 0.7;
}
body div#root div#timeContainer {
  float: right;
  right: 0;
  font-size: 48px;
  margin-top: 8px;
  margin-right: 12px;
  opacity: 0.5;
}
@media (prefers-color-scheme: light) {
  body div#root div#timeContainer {
    color: #000;
  }
}
body div#root div#timeContainer span#time-sec {
  font-family: "Consolas";
  font-size: 24px;
  opacity: 0.25;
}
body div#root .hide {
  display: none !important;
}/*# sourceMappingURL=style.css.map */