@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html,
body {
    font-size: 16px;
    margin: 0;
    color: #fff;
    font-family: "Poppins";
    background-color: rgba(0, 0, 0);
    user-select: none;
    div#background {
        margin: 0;
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    div#root {
        overflow-x: hidden;
        overflow-y: auto;
        a[href] {
            color: white;
            transition: 0.1s ease-out;
            &:hover {
                opacity: 0.75;
                transition: 0.1s ease-out;
            }
        }
        margin: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(44, 44, 44, 0.25);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        input {
            font-size: 14px;
            width: 344px;
            text-align: center;
            font-family: "Consolas";
            display: inline-block;
            color: white;
            background-color: rgb(44, 44, 44);
            border: 2px grey solid;
            border-radius: 4px;
            outline: none;
        }
        button {
            margin-top: 12px;
            font-size: 20px;
            width: 160px;
            text-align: center;
            font-family: "Consolas";
            display: inline-block;
            color: white;
            background-color: rgb(44, 44, 44);
            border: 2px grey solid;
            border-radius: 4px;
            outline: none;
        }
        div#setContainer {
            padding-top: 72px;
            text-align: center;
            overflow: hidden;
            div#setInfo {
                margin-left: auto;
                margin-right: auto;
                font-size: 16px;
                width: fit-content;
                p {
                    text-align: left;
                    margin-bottom: 6px;
                }
            }
        }
        a#cornerButton {
            position: relative;
            margin: 8px;
            width: 18px;
            opacity: 0.3;
            cursor: pointer;
            &.bottomCorner {
                bottom: 0;
            }
            &.settings {
                content: url("../gear.svg");
            }
            &.home {
                position: absolute;
                content: url("../home.svg");
            }
            &.gh {
                position: absolute;
                content: url("../github.svg");
            }
            &.reload {
                content: url("../reload.svg");
            }
            &.key {
                content: url("../key.svg");
            }
            &:hover {
                opacity: 0.4;
            }
        }
        
        a#imgCreator {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 8px;
            opacity: 0.3;
            text-decoration: none;
            &:hover {
                opacity: 0.4;
            }
        }
        div#timeContainer {
            float: right;
            right: 0;
            font-size: 48px;
            margin-top: 8px;
            margin-right: 12px;
            span#time-sec {
                font-family: "Consolas";
                font-size: 24px;
                opacity: 0.5;
            }
        }
        .hide {
            display: none !important;
        }
    }
}