@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 16px;
  margin: 0;
  color: #fff;
  font-family: "Poppins";
  background-color: rgba(0, 0, 0);
  user-select: none;

  div#background {
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  div#root {
    overflow: hidden;

    a[href] {
      color: #fff;
      transition: 0.1s ease-out;

      &:hover {
        opacity: 0.7;
        transition: 0.1s ease-out;
      }
    }

    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(75, 75, 75, 0.25);
    backdrop-filter: blur(14px);

    input {
      font-size: 14px;
      width: 344px;
      text-align: center;
      font-family: "JetBrains Mono";
      display: inline-block;
      color: white;
      background-color: rgb(44, 44, 44);
      border: 2px grey solid;
      border-radius: 4px;
      outline: none;
    }

    button {
      margin-top: 12px;
      cursor: pointer;
      font-size: 20px;
      width: 160px;
      text-align: center;
      font-family: "JetBrains Mono";
      display: inline-block;
      color: white;
      background-color: rgb(44, 44, 44);
      border: 2px grey solid;
      border-radius: 4px;
      outline: none;

      &:hover {
        color: lightgray;
      }

      &:active {
        color: grey;
        background-color: rgb(33, 33, 33);
      }
    }

    div#setContainer {
      padding-top: 72px;
      text-align: center;
      overflow: hidden;

      div#setInfo {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        width: fit-content;

        p {
          text-align: left;
          margin-bottom: 6px;
        }
      }
    }

    div#cornerButtonContainer {
      height: 36px;
      position: absolute;
      overflow: hidden;
      transition: 0.6s;

      &.bottomCorner {
        bottom: 0;
      }

      a#cornerButton {
        position: relative;
        margin: 8px;
        width: 20px;
        opacity: 0.3;
        transition: 0.4s;
        cursor: pointer;
        content: url("../space.svg");
        mask-size: 100%;
        mask-position: center center;
        mask-repeat: no-repeat;
        background-repeat: no-repeat;
        color: #fff;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.45));

        &.home {
          position: absolute;
          right: 0;
          float: right;
          content: url("../home.svg");
        }

        &.settings {
          content: url("../gear.svg");
        }

        &.config {
          content: url("../config.svg");
        }

        &.gh {
          content: url("../github.svg");
        }

        &.ko-fi {
          content: url("../kofi.svg");
        }


        &.bmc {
          content: url("../bmc.svg");
        }

        &.reload {
          content: url("../reload.svg");
        }

        &.key {
          content: url("../key.svg");
        }

        &:hover {
          transition: 0.2s;
          opacity: 0.7;
        }
      }
    }

    div#settingsPanelContainer {
      height: 100vh;
      width: 60vw;
      overflow: hidden;
      position: absolute;
      transition: 0.4s ease-in-out;
      float: right;
      left: 0;
      transform: translate(50%, 100vh);
      background-color: transparent !important;

      &.panShow {
        transform: translate(50%, 30vh);
      }

      div#settingsPanel {
        margin: 0;
        border: none;
        height: 80vh;
        width: 40vw;
        position: absolute;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        background-color: rgba(255, 255, 255, 0.1) !important;
      }
    }

    a#imgCreator {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 8px;
      opacity: 0.3;
      text-decoration: none;

      &:hover {
        opacity: 0.7;
      }
    }

    div#timeContainer {
      float: right;
      right: 0;
      font-size: 48px;
      margin-top: 8px;
      margin-right: 12px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

      span#time-sec {
        opacity: 0;
        font-family: "JetBrains Mono";
        font-size: 24px;
        transition: 0.2s;
      }

      &:hover {
        span#time-sec {
          opacity: 0.75;
          transition: 0.2s;
        }
      }
    }

    .hide {
      display: none !important;
    }
  }
}