@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
html,
body {
  font-size: 16px;
  margin: 0;
  color: #fff;
  font-family: "Poppins";
  background-color: rgb(0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
html div#background,
body div#background {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html div#root,
body div#root {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(44, 44, 44, 0.25);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
html div#root a[href],
body div#root a[href] {
  color: white;
  transition: 0.1s ease-out;
}
html div#root a[href]:hover,
body div#root a[href]:hover {
  opacity: 0.75;
  transition: 0.1s ease-out;
}
html div#root input,
body div#root input {
  font-size: 14px;
  width: 344px;
  text-align: center;
  font-family: "Consolas";
  display: inline-block;
  color: white;
  background-color: rgb(44, 44, 44);
  border: 2px grey solid;
  border-radius: 4px;
  outline: none;
}
html div#root button,
body div#root button {
  margin-top: 12px;
  font-size: 20px;
  width: 160px;
  text-align: center;
  font-family: "Consolas";
  display: inline-block;
  color: white;
  background-color: rgb(44, 44, 44);
  border: 2px grey solid;
  border-radius: 4px;
  outline: none;
}
html div#root div#setContainer,
body div#root div#setContainer {
  padding-top: 72px;
  text-align: center;
  overflow: hidden;
}
html div#root div#setContainer div#setInfo,
body div#root div#setContainer div#setInfo {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
html div#root div#setContainer div#setInfo p,
body div#root div#setContainer div#setInfo p {
  text-align: left;
  margin-bottom: 6px;
}
html div#root div#cornerButtonContainer,
body div#root div#cornerButtonContainer {
  position: absolute;
}
html div#root div#cornerButtonContainer.bottomCorner,
body div#root div#cornerButtonContainer.bottomCorner {
  bottom: 0;
}
html div#root div#cornerButtonContainer a#cornerButton,
body div#root div#cornerButtonContainer a#cornerButton {
  position: relative;
  margin: 8px;
  width: 20px;
  opacity: 0.3;
  transition: 0.4s;
  cursor: pointer;
}
html div#root div#cornerButtonContainer a#cornerButton.settings,
body div#root div#cornerButtonContainer a#cornerButton.settings {
  content: url("../space.svg");
  -webkit-mask-image: url("../gear.svg");
          mask-image: url("../gear.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
html div#root div#cornerButtonContainer a#cornerButton.home,
body div#root div#cornerButtonContainer a#cornerButton.home {
  content: url("../space.svg");
  -webkit-mask-image: url("../home.svg");
          mask-image: url("../home.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
html div#root div#cornerButtonContainer a#cornerButton.gh,
body div#root div#cornerButtonContainer a#cornerButton.gh {
  content: url("../space.svg");
  -webkit-mask-image: url("../github.svg");
          mask-image: url("../github.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
html div#root div#cornerButtonContainer a#cornerButton.kofi,
body div#root div#cornerButtonContainer a#cornerButton.kofi {
  content: url("../space.svg");
  -webkit-mask-image: url("../kofi.svg");
          mask-image: url("../kofi.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
html div#root div#cornerButtonContainer a#cornerButton.kofi:hover,
body div#root div#cornerButtonContainer a#cornerButton.kofi:hover {
  color: #ff5e5b;
}
html div#root div#cornerButtonContainer a#cornerButton.reload,
body div#root div#cornerButtonContainer a#cornerButton.reload {
  content: url("../space.svg");
  -webkit-mask-image: url("../reload.svg");
          mask-image: url("../reload.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
html div#root div#cornerButtonContainer a#cornerButton.key,
body div#root div#cornerButtonContainer a#cornerButton.key {
  content: url("../space.svg");
  -webkit-mask-image: url("../key.svg");
          mask-image: url("../key.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: #fff;
}
html div#root div#cornerButtonContainer a#cornerButton:hover,
body div#root div#cornerButtonContainer a#cornerButton:hover {
  transition: 0.2s;
  opacity: 0.7;
}
html div#root a#imgCreator,
body div#root a#imgCreator {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
  opacity: 0.3;
  text-decoration: none;
}
html div#root a#imgCreator:hover,
body div#root a#imgCreator:hover {
  opacity: 0.4;
}
html div#root div#timeContainer,
body div#root div#timeContainer {
  float: right;
  right: 0;
  font-size: 48px;
  margin-top: 8px;
  margin-right: 12px;
}
html div#root div#timeContainer span#time-sec,
body div#root div#timeContainer span#time-sec {
  font-family: "Consolas";
  font-size: 24px;
  opacity: 0.5;
}
html div#root .hide,
body div#root .hide {
  display: none !important;
}/*# sourceMappingURL=style.css.map */